*{
  font-family: 'Special Elite', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-content: center;
  
}
#sound{
  width: 30px;
  height : 30px;
  cursor: pointer;
  position: relative;
  top : 465px;
  left : 15px;
}
#gameover{
  position: absolute;
  width : 400px;
  height: 500px;
  background: rgba(0,0,0,0.5);
  display: none;
  
}
#youwon{
  width: 100px;
  position: absolute;
  display: none;
}
#youlose{
  width:400px;
  position: absolute;
  display: none;
}
#restart{
  position: absolute;
  top: 210px;
  left : 100px;
  cursor: pointer;
  font-size: 40px;
  color : #FFF;
}

body {
  background-color: #805e00;
}


