*{
  font-family: 'Special Elite', cursive;
  font-size: 60px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-content: center;
  display: grid;
}
#sound{
  width: 30px;
  height : 30px;
  cursor: pointer;
  position: relative;
  top : 465px;
  left : -155px;
  
}
#gameover{
  position: absolute;
  width : 400px;
  height: 500px;
  background: rgba(0,0,0,0.5);
  display: none;
  top: 90px;
}
#youwon{
  width: 100px;
  position: absolute;
  top : 200px;
  left : 150px;
  display: none;
}
#youlose{
  width:400px;
  position: absolute;
  top: 100px;
  left : 0px;
  display: none;
}
#restart{
  position: absolute;
  top: 310px;
  left : 110px;
  cursor: pointer;
  font-size: .55em;
  color : #FFF;
}

body {
  background-color: #805e00;
}


